[% INCLUDE navigation.tt %]

CHANGE OWN PASSWORD

<form action="change-own-password" method='post' >

    <div id='password'>
        pass = <input name='pass' type ='password' >
    </div>
    <div id='password2'>
        pass = <input name='pass2' type ='password' >
    </div>

    <input type="submit" value="Submit">

</form>

