[% INCLUDE navigation.tt %]
FORGOT PASSWORD

<form action="forgot-password" method='post' >

<div id='email'>
    email =  <input name='email' type ='text' >
</div>

<div id='nickname'>
    nickname =  <input name='nickname' type ='text' >
</div>

<div id='submit'>
    <input type="submit" value="Submit">
</div>

</form>


