[% INCLUDE navigation.tt %]
REGISTER

<form action="register" method='post' >

    <div id='email'>
        email = <input name='email' type ='text' >
    </div>
    <div id='nickname'>
        nickname = <input name='nickname' type ='text' >
    </div>
    <div id='password'>
        pass = <input name='pass' type ='password' >
    </div>
    <div id='password2'>
        pass = <input name='pass2' type ='password' >
    </div>

    <input type="submit" value="Submit">

</form>

